<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
    Without Date Formatting: {{.}}
    With Date Formatting: {{fdateMDY .}}
</body>
</html>